/*
Colors used:
Primary Color (Black): #101010;
Secondary Color (Blue): 3734DB;
*/

.logo {
  max-width: 100px;
}


header {
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #101010;
}

selector {
  position: fixed;
}

.container {
  padding: 0 35px;
}

#work .row { padding-bottom: 25px; border-bottom: 3px solid #101010; }

.row {
  margin: 35px 0; /* 25px top and bottom, 0 left and right */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.15em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
}
h4 {
  font-size: 0.15em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #3734DB;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #3734DB;
}

a:hover {
  color: #101010;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #808080;
}

.button {
  display: inline-block;
  background-color: #3734DB;
  color: #ffffff;
  font-weight: 500;
  padding:7px 20px;
  border-radius: 10px;
  transition: 0.2s opacity;
}

.button:visited {
  display: inline-block;
  background-color: #3734DB;
  color: #ffffff;
}

.button:hover {
  background-color: #ffffff;
  color: #101010;
}

.button.contact {
  background-color: #3734DB;
  color: #ffffff;
  text-transform: none;
  border: 0px solid #808080;
}

.button.contact:hover {
  background-color: #ffffff;
  color: #101010;
}

main {
  padding-top: 50px;
}

#hero {
  background-color: #DCDCDC;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center; /* Centers text */
  background-color: #DCDCDC;
  margin: 0;
  padding: 0.67em 0;
}

.center {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 500;
}

/* ==============================Medium devices (640px and larger)================================= */
@media only screen and (min-width: 640px) {
}

/* ==============================Large devices (1024px or larger)================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================X-large devices (1440px or larger)================================= */
@media only screen and (min-width: 1440px) {
}
