/*
Colors used:
Primary Color (Black): #101010;
Secondary Color (Blue): 3734DB;
*/

.logo {
  max-width: 100px;
}

body {
  background-color: #ffffff;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #101010;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.15em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
}
h4 {
  font-size: 0.15em;
  font-weight: 500;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: #3734DB;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #3734DB;
}

a:hover {
  color: #101010;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #808080;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s opacity;

}

.button:visited {
  display: inline-block;
  background-color: #3734DB;
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
}

.button.contact {
  background-color: #3734DB;
  color: #ffffff;
  text-transform: none;
  border: 0px solid #808080;
}

.button.contact:hover {
  background-color: #ffffff;
  color: #101010;
}

.icon {
  max-width: 25px;
}

/* ==============================End Section================================= */
/* ==============================Start Section================================= */

header {
  background-color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

* {
  box-sizing: border-box;
}

selector {
  position: fixed;
}

.container {
  padding: 0 35px;
}

#work .row { padding-bottom: 25px; border-bottom: 3px solid #101010; }

.row {
  margin: 35px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

main {
  padding-top: 50px;
}

#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

#hero span {
  display: block;
}

.center {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 500;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* ==============================End Section================================= */
/* ==============================Start Section================================= */
/*SVG animation*/
/.svg-animation {
  width: 100%;
  max-width: 100%
  height: auto;
}

@keyframes airplane-move {
  from {transform: translate(0,70);}
  to {transform: translate(350px,-100px);}
}

.airplane {
  animation-duration: 6s;
  animation-name: airplane-move;
  animation-iteration-count: infinite;
  animation-direction: linear;
  animation-timing-function: linear;
}

/* ==============================End Section================================= */
/* ==============================Start Section================================= */
/*Media Queries*/

/* ==============================Medium devices (640px and larger)================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
     padding: 20px 0 13px;
   }

   nav {
     width: auto;
     float: right;
     margin-top: 4px;
  }

  .col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
}
}

/* ==============================Large devices (1024px or larger)================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================X-large devices (1440px or larger)================================= */
@media only screen and (min-width: 1440px) {
}

/* =============================Gradient background================================= */
#hero {
	background: linear-gradient(-45deg, #87CEEB, #EAD6EE);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
