/*
Colors used:
Primary Color (Black): #101010;
Secondary Color (Blue): 3734DB;
*/

body {
  background-color: #ffffff;
  font-family: 'Futura', sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #101010;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.50em;
  font-weight: 700;
}

h3 {
  font-size: 0.90em;
  font-weight: 100;
}
h4 {
  font-size: 0.15em;
  font-weight: 100;
}

img {
  width: 100%;
}

a {
  color: #3734DB;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #3734DB;
}

a:hover {
  color: #101010;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #808080;
}

.button {
  display: inline-block;
  background-color: #3734DB;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #3734DB;
  transition: 0.2s opacity;
}

.button:visited {
  display: inline-block;
  background-color: #3734DB;
  color: #ffffff;
}

.button:hover {
  background-color: #ffffff;
  color: #101010;
}

.button.contact {
  background-color: #3734DB;
  color: #ffffff;
  text-transform: none;
  border: 0px solid #808080;
}

.button.contact:hover {
  background-color: #ffffff;
  color: #101010;
}
